{
  "extends": ["next", "next/core-web-vitals"],
  "plugins": ["@typescript-eslint", "unused-imports", "react-hooks", "import"],
  "rules": {
    "react-hooks/exhaustive-deps": "off",
    "array-callback-return": "error",
    "consistent-return": "error",
    "no-else-return": ["error", { "allowElseIf": false }],
    "no-return-assign": ["error", "always"],
    "@typescript-eslint/no-shadow": ["error", { "builtinGlobals": false, "hoist": "all", "allow": [] }],
    "camelcase": ["off", { "allow": ["^UNSAFE_"] }],
    "eqeqeq": "error",
    // 'no-explicit-any': 'error',
    "no-floating-decimal": "error",
    // 'no-empty-function': 'error',
    "no-multi-spaces": "error",
    "no-return-await": "error",
    "no-self-compare": "error",
    "no-throw-literal": "error",
    "no-useless-return": "error",
    "max-lines": ["error", 250],
    "no-undef": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "unused-imports/no-unused-imports-ts": "error",
    "unused-imports/no-unused-vars-ts": [
      "warn",
      { "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
    ],
    "@typescript-eslint/naming-convention": [
      "error",
      {
        "selector": "interface",
        "format": ["PascalCase"],
        "custom": {
          "regex": "^I[A-Z]",
          "match": true
        }
      }
    ],
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal", ["parent", "sibling"], "index", "object"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            //*INFO: react at top
            "position": "before"
          },
          {
            "pattern": "components/**",
            "group": "internal"
          },
          {
            "pattern": "interfaces/**",
            "group": "internal"
          },
          {
            "pattern": "pages/**",
            "group": "internal"
          },
          {
            "pattern": "API/**",
            "group": "internal"
          },
          {
            //* INFO: index file in API
            "pattern": "API",
            "group": "internal"
          },
          {
            "pattern": "utils/**",
            "group": "internal"
          },
          {
            "pattern": "stores/**",
            "group": "internal"
          },
          {
            "pattern": "constants/**",
            "group": "internal"
          },
          {
            "pattern": "types/**",
            "group": "internal"
          },
          {
            "pattern": "types",
            "group": "internal"
          },
          {
            "pattern": "routes/**",
            "group": "internal"
          },
          {
            "pattern": "routes",
            "group": "internal"
          },
          {
            "pattern": "**/*.scss", //scss must at bottom
            "group": "sibling",
            "position": "after"
          }
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "newlines-between": "ignore"
      }
    ]
  },
  "parser": "@typescript-eslint/parser"
}
